<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h1>My Bookings</h1>
    </div>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
      <% if policy(booking).show? %>
        <div class="col-6">
          <a href="<%= booking_path(booking) %>" class="text-decoration-none">
            <div class="card-product mb-3">
              <%= cl_image_tag(booking.car.photos[0].key, height: 300, width: 400, crop: :fit) if booking.car.photos.present? %>
              <div class="card-product-infos">
                <h2> Car : <%= booking.car.model %></h2>
                <p>Start Date: <strong><%= booking.start_date.strftime("%Y-%m-%d") %></strong></p>
                <p>End Date: <strong><%= booking.end_date.strftime("%Y-%m-%d") %></strong></p>
                <p>Price: <strong><%= booking.car.price %></strong></p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
