<div class="container">
  <h1>ALL BOOKINGS</h1>
  <% @bookings.each do |booking| %>
    <div class="mb-3 border-bottom shadow-sm p-3">
      <h2>Booking ID: <%= booking.id %></h2>
      <p>Start Date: <%= booking.start_date.strftime("%Y-%m-%d") %></p>
      <p>End Date: <%= booking.end_date.strftime("%Y-%m-%d") %></p>
      <p>Customer: <%= booking.user.first_name %></p>
      <% if policy(booking).show? %>
        <%= link_to "See this booking", booking, class: "btn btn-primary mt-3" %>
      <% end %>
      <%= button_to 'Delete', booking, method: :delete if policy(booking).destroy? %>
    </div>
  <% end %>
</div>
