<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col">
      <h1>My Bookings</h1>
    </div>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
      <% if policy(booking).show? %>
        <div class="col-6">
          <a href="<%= booking_path(booking) %>" class="text-decoration-none">
            <div class="card-product mb-3 p-2">
              <%= cl_image_tag(booking.car.photos[0].key, height: 300, width: 400, crop: :fit) if booking.car.photos.present? %>
              <div class="card-product-infos">
                <h2> Car : <%= booking.car.model %></h2>
                <p>From: <strong><%= booking.start_date.strftime("%b %d, %Y") %></strong></p>
                <p>To: <strong><%= booking.end_date.strftime("%b %d, %Y") %></strong></p>
                <%# total price needs to be updated %>
                <p>Total Price: <strong>$<%= booking.car.price %></strong></p>
                <p><% if booking.confirmed%>
                  <strong>Confirmed </strong> <i class="fa-solid fa-square-check" style="color: #09c829;"></i>
                <% else %>
                  <%= 'Awaiting confirmation' %>
                <% end%></p>
              </div>
          </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
