<div class="container">
  <h2>New booking</h2>
  <p>Car: <%= @car.model %></p>
  <p>Year: <%= @car.year %></p>
  <p>Number of seats: <%= @car.seats_number %></p>

  <%= simple_form_for [@car, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
  <%# <p>Price: <%= @booking.total_price %></p>
</div>
