
<div class="container" data-controller="wallet-connect" data-wallet-connect-project-id-value="<%= ENV['PROJECT_ID'] %>">
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary"  id="connect-button" data-action="click->wallet-connect#connectWallet" data-wallet-connect-target="connect">Connect Wallet</button>
    <button class="btn btn-success"  id="pay-button" data-action="click->wallet-connect#pay" data-wallet-connect-target="pay">Pay</button>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card mt-3 p-3">
        <h2><strong>New booking</strong></h2>
        <p>Car: <%= @car.model %></p>
        <p>Year: <%= @car.year %></p>
        <p>Price per day: $<%= @car.price %></p>
        <p>Number of seats: <%= @car.seats_number %></p>
        <%# <p>Total Price: $</p> %>
        <%# <%= @booking.total_price %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mt-3 p-3">
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>

</div>
