<div class="container">
  <h2>Booking</h2>
  <p>Car: <%= @booking.car.model %></p>
  <p>Start Date: <%= @booking.start_date %></p>
  <p>End Date: <%= @booking.end_date %></p>
  <p>Price: <%= @booking.car.price * (@booking.end_date - @booking.start_date).to_i %></p>
  <p>Confirmed: <%= @booking.confirmed %></p>
  <%= link_to 'Back', bookings_path %>
  <%= link_to 'Confirm', edit_booking_path(@booking) %>
</div>
