<div class="navbar navbar-expand-lg">

  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag asset_path('logo.png'), alt: "Car Photo", class: "logo-image" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% ok = true %>
  <% if ok == true %>
      <div class="rounded-pill bg-white px-4 py-2">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Location" aria-label="Location">
          <input class="form-control me-2" type="date" placeholder="Start Date" aria-label="Start Date">
          <input class="form-control me-2" type="date" placeholder="End Date" aria-label="End Date">
          <button class="btn btn-flat" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
  <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rent My Car", dashboard_path, class: "nav-link" %>
          </li>
            <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item m-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link bigger-list-item" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
