<div class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag asset_path('carbnblogo.png'), alt: "Car Photo", class: "logo-image" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active m-3">
            <%= link_to "My Bookings", bookings_path, class: "btn btn-ghost" %>

          </li>
          <li class="nav-item active m-3">
            <%= link_to "Rent My Car", dashboard_path, class: "btn btn-ghost" %>
          </li>
          <li class="nav-item dropdown m-3">
            <%= button_tag type: 'button', class: 'btn btn-ghost dropdown-toggle', id: 'navbarDropdown', data: { bs_toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': false do %>
              Account
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item m-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link bigger-list-item" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
