<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="display-4 text-start mb-4">My Cars to Rent</h1>
    </div>
    <div class="col-6 text-end">
      <%= link_to "New car", new_car_path, class: "btn btn-flat mb-2" %>
    </div>
  </div>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-6 mb-4">
        <a href="<%= show_my_car_url(car) %>" class="card-link">
          <div class="card">
            <img src="<%= asset_path('voiture.png') %>" alt="Car Photo" class="card-image">
            <div class="card-body">
              <h3 class="card-title fw-bold fs-5 text-start text-primary"><%= car.model %></h3>
              <div class="d-flex justify-content-between">
                <p class="card-price"><%= car.seats_number %> Seats</p>
                <p class="card-price">$<%= car.price %></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
