<div class="container">
  <div class="row">
    <div class="col m-2">
      <h1>Edit informations about your car </h1>
      <% if policy(@car).edit? %>
        <%= simple_form_for [@car] do |f| %>
        <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
         <%= f.error_notification %>
         <%= f.error_notification messages: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="m-2">
            <label for="UserInput" class="form-label">User ID </label>
            <%= f.input :user_id, as: :integer, input_html: { class: "form-control", id: "UserInput", placeholder: "5" }, label: false %>
          </div>
          <div class="m-2">
            <label for="ModelInput" class="form-label">🚘 Car Model </label>
            <%= f.input :model, as: :string, input_html: { class: "form-control", id: "ModelInput", placeholder: "Opel Corsa" }, label: false %>
          </div>
          <div class="m-2">
            <label for="YearInput">📅 Year of registration </label>
            <%= f.input :year, as: :integer, input_html: { class: "form-control", id: "YearInput", placeholder: "2012"}, label: false %>
          </div>
          <div class="m-2">
          <label for="PriceInput">💰 Daily price</label>
          <%= f.input :price, as: :integer, input_html: { class: "form-control", id: "PriceInput", placeholder: "80"}, label: false%>
          </div>
            <div class="m-2">
              <label for="SeatsInput">💺 Number of seats in the car</label>
              <%= f.input :seats_number, as: :integer, input_html: { class: "form-control", id: "SeatsInput", placeholder: "4"}, label: false%>
          </div>

          <div class="m-2">
            <label for="PhotosInput">📸 Photos of the car</label>
            <% if @car.photos.attached? %>
              <div class="existing-photos">
                <% @car.photos.each do |photo| %>
                  <%= image_tag photo, alt: "stock car", width: 200 %>
                <% end %>
              </div>
            <% end %>
            <%= f.file_field :photos, multiple: true, direct_upload: true, input_html: { class: "form-control", required: true }, error: 'At least one photo is required.'  %>
          </div>

          <div class="m-2">
            <label for="Availability" class="form-label">Availability</label>
            <%= f.input :availability, as: :boolean, input_html: { class: "form-control", id: "Availability", placeholder: "" }, label: false %>
          </div>
          <%= f.submit "Save your car informations", class: "m-2 btn btn-primary rounded" %>
        <% end %>

      <% end %>
      <div>
        <%= button_to 'Delete', @car, method: :delete if policy(@car).destroy? %>
      </div>
    </div>
  </div>
</div>
