<div class="container">
  <div class="filter-bar">
      <%= form_with url: root_path, method: :get, class: 'row justify-content-center align-items-center px-3', local: true do |f| %>
        <div class="col-md-3">
          <%= f.label :model, "Car Model", class: "form-label" %>
          <%= f.text_field :model, value: params[:model], class: "form-control", placeholder: "Enter car model" %>
        </div>
        <div class="col-md-3">
          <%= f.label :seats, "Seats", class: "form-label" %>
          <%= f.select :seats, options_for_select([['Any', ''], ['2', 2], ['4', 4], ['5', 5], ['6+', '6+']], params[:seats]), {}, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :price, "Price", class: "form-label" %>
          <%= f.number_field :price, value: params[:price], class: "form-control", placeholder: "Enter maximum price" %>
        </div>
        <div class="col-md-3">
          <%= f.label :location, "Location", class: "form-label" %>
          <%= f.text_field :location, value: params[:location], class: "form-control", placeholder: "Enter desired location" %>
        </div>
        <div class="col-md-3">
          <%= f.submit "Apply Filters", class: "btn btn-flat col-12" %>
        </div>
      <% end %>
  </div>
  <div class="row">
          <h1 class="text-center mb-4" style="font-family: 'Montserrat', sans-serif; font-weight: 800;">Cars available near you</h1>
    <div class="col-md-6">
      <div class="col-12">
      </div>
      <div class="row justify-content-between">
        <% @cars.each do |car| %>
          <div class="col-md-6 mb-4">
            <a href="<%= car_path(car) %>" class="card-link">
              <div class="card">
                <%# <img src="<%= asset_path('voiture.png')" alt="Car Photo" class="card-image"> %>
                <%= cl_image_tag(car.photos[0].key, class:"card-img-top rounded", height: 300, width: 400, crop: :fit) if car.photos.present?%>
                <div class="card-body">
                  <h3 class="card-title fw-bold fs-5 text-start text-primary"><%= car.model %></h3>
                  <p><%= car.address %></p>
                  <div class="d-flex justify-content-between">
                    <p class="card-price"><%= car.seats_number %> Seats</p>
                    <p class="card-price">$<%= car.price %></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="map-container border-rounded shadow-sm">
        <div class="p-3 rounded" style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
