<div class="container">
  <div class="row">
      <h1>Cars available</h1>
      <div class="btn btn-dark col-10 ">
        <% if policy(car).new? %>
          <%= link_to "New car", new_car_path %>
        <% end %>
      </div>
        <% @cars.each do |car| %>
          <div class="col m-3">
            <%= car.model %>
            <%= car.year%>
            <%= car.availability %>
            <%= car.price %>
            <div class="btn btn-info">
              <%= link_to "Show this car", car %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <%= link_to "New car", new_car_path %>
  </div>
</div>
