<div class="container">
      <div class="rounded-pill bg-white px-4 py-2">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Location" aria-label="Location">
          <input class="form-control me-2" type="date" placeholder="Start Date" aria-label="Start Date">
          <input class="form-control me-2" type="date" placeholder="End Date" aria-label="End Date">
          <button class="btn btn-flat" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
  <div class="row justify-content-between">
    <div class="col-12">
      <h1 class="display-4 text-center mb-4">Cars available near you</h1>
    </div>
    <% @cars.each do |car| %>
      <div class="col-md-4 mb-4">
        <a href="<%= car_path(car) %>" class="card-link">
          <div class="card">
            <%# <img src="<%= asset_path('voiture.png')" alt="Car Photo" class="card-image"> %>
            <%= cl_image_tag(car.photos[0].key, height: 300, width: 400, crop: :fit) if car.photos.present? %>
            <div class="card-body">
              <h3 class="card-title fw-bold fs-5 text-start text-primary"><%= car.model %></h3>
              <div class="d-flex justify-content-between">
                <p class="card-price"><%= car.seats_number %> Seats</p>
                <p class="card-price">$<%= car.price %></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
