<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-12 text-start">
      <%= link_to "Back to list of cars", root_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row car-info-container">
        <div class="col-12">
          <p class="car-title"><%= @car.model %></p>
        </div>
        <p class="col-12"> <strong>Seats : </strong><%= @car.seats_number %></p>
        <p class="col-12"> <strong>Year : </strong><%= @car.year %></p>
        <p class="col-12"> <strong>Owner : </strong> <%= @car.user.first_name %> <%=@car.user.last_name %></p>
        <p class="col-12"> <strong>Price : </strong> $<%= @car.price%> per day</p>
        <div class="row justify-content-center">
          <div class="col-8 d-flex text-center align-items-center">
            <%= link_to "Book this car", new_car_booking_path(@car), class: "btn btn-book" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <% if @car.photos.present? %>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <% if @car.photos[0].present? %>
              <%= cl_image_tag(@car.photos[0].key, class: "carousel-image", crop: :fill)%>
            <% end %>
          </div>
          <% if @car.photos[1].present? %>
            <div class="carousel-item" data-bs-interval="3000">
                <%= cl_image_tag(@car.photos[1].key, class: "carousel-image", crop: :fill)%>
            </div>
          <% end %>
          <% if @car.photos[2].present? %>
            <div class="carousel-item" data-bs-interval="3000">
              <%= cl_image_tag(@car.photos[2].key, class: "carousel-image", crop: :fill)%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
