<div class="container">
  <div class="row mb-4">
    <div class="col-12 text-start">
      <%= link_to "Back to my cars", dashboard_path %>
    </div>
  </div>
  <div class="row shadow p-3 mb-5 bg-body rounded">
    <div class="col-9">
      <h1 class="display-4 text-start mb-4 fw-bold fs-5 text-start"><%= @car.model %></h1>
    </div>
    <div class="col-3 text-end">
      <%= link_to "Edit informations about my car", edit_car_path, class: "btn btn-flat mb-2" %>
    </div>
    <p class="col-2"> Price : <%= @car.price %></p>
    <p class="col-2"> Seats : <%= @car.seats_number %></p>
    <p class="col-2"> Year : <%= @car.year %></p>
    <p class="col-2">Availability : <%= @car.availability %></p>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
       <div class="carousel-inner">
          <div class="carousel-item active">
            <%# <img src="<%= asset_path('voiture.png')" class="d-block w-100" alt="car photo"> %>
            <% if @car.photos[0].present? %>
              <%= cl_image_tag(@car.photos[0].key, style: 'height:auto; width:100%;', crop: :fill)%>
            <% end %>
          </div>
          <% if @car.photos[1].present? %>
            <div class="carousel-item">
              <%# <img src="<%= asset_path('voiture2.jpeg')" class="d-block w-100 img-thumbnail" alt="car photo"> %>
                <%= cl_image_tag(@car.photos[1].key, style: 'height:auto; width:100%;', crop: :fill)%>
            </div>
          <% end %>
          <% if @car.photos[2].present? %>
            <div class="carousel-item">
              <%# <img src="<%= asset_path('voiture3.jpeg')" class="d-block w-100" alt="car photo"> %>
                <%= cl_image_tag(@car.photos[2].key, style: 'height:auto; width:100%;', crop: :fill)%>
            </div>
          <% end %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
</div>

