<div class="container">
  <div class="row">
    <h1 class="mt-2"> <%= @car.model %> Details </h1>
    <div class="col mt-2">
      <p> Price : <%= @car.price %></p>
      <p> Seats : <%= @car.seats_number %></p>
      <p> Year : <%= @car.year %></p>
      <p>Availability : <%= @car.availability %></p>
    </div>
  </div>
  <div class="col">
    <div class="btn btn-info">
      <%= link_to "Back to Cars", root_path%>
    </div>
    <div class="btn btn-warning">
      <%= link_to "Edit your Car", edit_car_path%>
    </div>
  </div>
</div>
