<!DOCTYPE html>
<html>
  <head>
    <title>Car Details</title>
  </head>
  <body>
    <h1>Car Details</h1>
       <h2><%= @car.model %></h2>
       <p><%= @car.price %></p>
       <p><%= @car.seats_number %></p>
       <p><%= @car.year %></p>
       <p><%= @car.availability %></p>
  </body>
</html>
