<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-12 text-start">
      <%= link_to "Back to my cars", dashboard_path %>
    </div>
  </div>

  <div class="card-product mb-4">
    <% if @car.photos.present? %>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="200000">
            <% if @car.photos[0].present? %>
              <%= cl_image_tag(@car.photos[0].key, class: "card-product-image", crop: :fill)%>
            <% end %>
          </div>
          <% if @car.photos[1].present? %>
            <div class="carousel-item" data-bs-interval="5000">
                <%= cl_image_tag(@car.photos[1].key, class: "card-product-image", crop: :fill)%>
            </div>
          <% end %>
          <% if @car.photos[2].present? %>
            <div class="carousel-item" data-bs-interval="5000">
              <%= cl_image_tag(@car.photos[2].key, class: "card-product-image", crop: :fill)%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-product-infos row">
      <div class="col-8">
        <h2 class="card-product-title"><%= @car.model %></h2>
      </div>
      <div class="col-4 text-end">
        <%= link_to "Edit informations about my car", edit_car_path, class: "btn btn-flat" %>
      </div>
      <div class="col-2">
        <p><strong>Price per day :</strong> <%= @car.price %> $</p>
      </div>
      <div class="col-2">
        <p><strong>Number of seats : </strong> <%= @car.seats_number %></p>
      </div>
      <div class="col-2">
        <p><strong>Year : </strong><%= @car.year %></p>
      </div>
      <div class="col-2">
        <p><strong>Location : </strong><%= @car.address %></p>
      </div>
    </div>
  </div>

  <div class="row text-center mb-2">
    <h1><%= @car.model %>'s bookings</h1>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Total Price</th>
        <th scope="col">Confirmation</th>
      </tr>
    </thead>
    <tbody>
      <% @received_bookings.each do |booking| %>
        <% if policy(booking).approve? && booking.car == @car %>
        <% user = User.find(booking.user_id) %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= booking.start_date.strftime("%b %d, %Y") %></td>
        <td><%= booking.end_date.strftime("%b %d, %Y") %></td>
        <td><%= (booking.end_date - booking.start_date + 1).to_i * @car.price %>$</td>
        <% if booking.confirmed %>
          <td>Confirmed <i class="fas fa-check-square confirm-icon"></i></td>
        <% else %>
          <td>
            <div class="confirm-button"> <!-- Wrapped the link in a div -->
              <%= button_to 'Confirm Booking', approve_booking_path(booking), class: "btn btn-flat", data: { turbo_method: :post } %>
            </div>
          </td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
