<div class="container">
  <div class="row">
    <h1 class="mt-2"> <%= @car.model %> Details </h1>
    <div class="col mt-2">
      <p> Price : <%= @car.price %></p>
      <p> Seats : <%= @car.seats_number %></p>
      <p> Year : <%= @car.year %></p>
      <p>Availability : <%= @car.availability %></p>
    </div>
  </div>
  <div class="col">
    <% if policy(@car).edit? %>
    <div class="btn btn-info">
      <%= link_to "Back to Dashboard", dashboard_path%>
    </div>

    <div class="btn btn-warning">
      <% if policy(@car).edit? %>
        <%= link_to "Edit your Car", edit_car_path%>
      <% end %>
    </div>
    <% else %>
      <p>You are not authorized to edit this car.</p>
      <div class="btn btn-info">
        <%= link_to "Back to Cars", root_path %>
      </div>
      <div class="btn btn-warning">
      <%= link_to "Book this Car", new_car_booking_path(@car)%>
    </div>
    <% end %>
  </div>
</div>
